* {
    margin: 0px;
    padding: 14px;
    
}

#header {
    background: #F9F9F9;
    display: inline-block;
    width: 900px;
}

#containerOne {
    display: inline-block;
    width: 900px;
}
h1 {
    
    width: 300px;
    display: inline-block;
    color: black;
   
}
h2 {
    
    margin-left: 200px;
    display: inline-block;
}

#wrapper {
    background: #3C2E34;
    height: 980px;
    width: 900px;
    padding-top: 0px;
}

img {
    width: 400px;
    height: 330px;
    vertical-align: bottom;
    /* display: inline-block; */
}

#about {
    width: 400px;
    height: 343px;
    display: inline-block;
    
    

}

p {
    height: 255px;
    background: #F3EEF2
    
}
h3 {
    width: 344px;
    height: 20px;
    background: linear-gradient(#A5A4AA,#7C7A88,#A5A4A9);
}